.DS_Store
*.pyc
*.cprof
build/*
build
*.h5
*.hdf5
temp
*.c
.cache
.metadata
.*.csv
*.swp
._*
.idea
.adxv*
.pytest_cache
__pycache__
doc/html/bornagain.external.pyqtgraph.pyqtgraph*
doc/source/bornagain.external.pyqtgraph.pyqtgraph*
