auto_examples
ignore
hidden
build
old
temp
.cache
.pytest_cache
__pycache__
.metadata
.DS_Store
*.egg*
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.c
.*.csv
*.swp
._*
*.dSYM
*.so
.idea
*~
.adxv*
doc/source/reborn.*
doc/html
doc/source/api
developer/rkirian/data
*.aux
*.bbl
*.log
*.blg
*.synctex.*
