miniconda
miniconda.sh
auto_examples
ignore
hidden
build
builds
old
temp
.cache
.pytest_cache
__pycache__
.metadata
.DS_Store
log.txt
*.egg*
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.c
.*.csv
*.swp
._*
*.dSYM
*.so
*.tar.gz
.idea
*~
.adxv*
doc/source/reborn.*
doc/html
doc/source/api
developer/rkirian/data
*.aux
*.bbl
*.log
*.blg
*.synctex.*
